* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.main-nav {
  text-align: right;
}

.nav-items,
.nav-item {
  display: inline-block;
}

.nav-item {
  padding: 0 0.75em;
}

.review-items {
  width: 100%;
}

.review-items, 
.review-item {
  display: inline-block;
  vertical-align: middle;
}

.review-item {
  width: 31%;
  text-align: center;
}

.review-title {
  font-size: 1.25em;
}

.images, 
.keywords {
  border: 1px solid black;
}

.reviewList {
  font-size: 1.5em;
}

.review-content p:after{
  content: '\A\A';
  white-space: pre;
}
