* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.review-items, 
.review-item {
  display: inline-block
}

.review-item {
  width: 30%;
}

.images, .keywords {
  border: 1px solid black;
}

.reviewList {
  font-size: 1.5em;
}

.content-of-review {
  font-style: italic;
}
