* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.category a {
  text-decoration: none;
  display: inline-block;
}

.main-header > h1,
.main-content{
  text-align: center;
}

.main-nav {
  text-align: right;
  padding: 1em;
  width: 90%;
}

.section-images {
  width: 47%;
}
.tags {
  width: 15%;
  border: 1px solid black;
}

.tags__h3 {
  font-size: 1.5em;
}

.tags__h3,
.tags__item {
  padding: 0.5em;
}

.image__figcaption {
  padding: 1.25em 0;
  font-size: 1.25em;
}

.tags__item {
  list-style: none;
}

.section-images,
.tags {
  vertical-align: middle;
}

.nav-items,
.nav-item,
.category,
.section-images,
.tags {
  display: inline-block;
}

.nav-item {
  padding: 0 0.75em;
}

.review-items {
  width: 100%;
}

.review-items, 
.review-item {
  display: inline-block;
  vertical-align: middle;
}

.review-item {
  width: 31%;
  text-align: center;
}

.review-title {
  font-size: 1.25em;
}

.reviewList {
  font-size: 1.5em;
}

.review-content p:after{
  content: '\A\A';
  white-space: pre;
}
