<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Single Category</title>
</head>

<body>
    <h1 th:text="${category.name}">Single Category</h1>
    <ul th:each="review : ${category.reviews}">
        <a th:href="|@{/reviews/}${review.title}|">
            <li th:text="${review.title}">

            </li>
        </a>
    </ul>
    <section class="nav">
        <ul>
            <li>
                <a th:href="@{/reviews}">Back to list of reviews</a>
            </li>
            <li>
                <a th:href="@{/categories}">Back to list of categories</a>

            </li>
            <li>
                <a th:href="@{/reviews/tags}">Back to list of tags</a>
            </li>
        </ul>
    </section>

</body>

</html>