<!DOCTYPE html>
<html>
<head>
	<title>All Reviews</title>
	<link rel="stylesheet" type="text/css" media="all"
				href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>List of all reviews on review site</h1>

	<ul>
		<!-- For each review in reviews map -->
		<li th:each="review : ${reviews}">
			<!-- link that review to the URL of the review's Id-->
			<!--  -->
			<a th:href="|@{/reviews/}${review.movieId}|">
					<span th:text="|${review.title} - |"></span>
			</a>
			<span th:each="tag : ${review.tags}">
				<a th:href="|@{/reviews/tags/}${tag}|">
					<span th:text="|${tag}, |"></span>
				</a>
			</span>
		</li>
	</ul>
</body>
</html>
