<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title th:text="${review.id}">Review Title</title>
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/style.css" th:href="@{/src/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/normalize.css" th:href="@{/src/css/normalize.css}" />
</head>

<body>
	<div class="container">
		<section class="section-header">
			<header class="main-header">
				<h1 th:text="|${review.title} Review|">Movie Review Title</h1>
			</header>
		</section>
		<section class="section-nav">
			<nav class="main-nav">
				<ul class="nav-items">
					<li class="nav-item">
						<a th:href="@{/reviews}">Reviews</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/categories}">Categories</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/tags}">List of Tags</a>
					</li>
				</ul>
			</nav>
		</section>
		<main class="main-content">
			<figure class="figure-image">
				<img th:src="|/src/images/${review.imgUrl}|" alt="image for review" />
				<a th:href="|@{/category/}${review.category}|">
					<figcaption class="image__figcaption" th:text="${review.category}">
					</figcaption>
				</a>
			</figure>
			<aside class="keywords">
				<span th:each="revComment : ${review.reviewComments}">
						<span th:text="${revComment}"></span>
				</span>
				<h3 class="tags__h3">
					<a th:href="|@{/tags}|">
						Tags
					</a>
				</h3>
				<ul class="tags">
					<li class="tag" th:each="tag : ${review.tags}">
						<a th:href="|@{/tags/}${tag.name}|">
							<span th:text="${tag}"></span>
						</a>
						<button class="delete">REMOVE</button>
					</li>
				</ul>
			</aside>
			<section class="review-content">
				<article th:utext="${review.content}">
				</article>
			</section>
			<section class="review-comments">
				<form action="/post-comment" th:action="|@{/reviews/}${review.title}|" method="post">
					<label for="comment-title">
						<input type="text" name="commentTitle" id="commentTitle" />
					</label>
					<label for="comment-description">
						<input type="text" name="commentDescription" id="commentDescription" />
					</label>
					<input type="submit" value="Submit" />
				</form>
			</section>
		</main>
	</div>
	<script type="text/js" src="/js/app.js"></script>
</body>

</html>