<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title th:text="|Tag searched: ${tag}|"></title>
  <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
  <h1 th:text="|List of movies from searched tag: ${tag}|"></h1>
  <ul>
    <li th:each="review : ${tag.reviews}">
      <a th:href="|@{/reviews/}${review.title}|">
        <span class="reviewList" th:text="|${review.title}|"></span>
      </a>
    </li>
  </ul>
  <section class="nav">
      <ul>
          <li>
              <a th:href="@{/reviews}">Back to list of reviews</a>
          </li>
          <li>
              <a th:href="@{/categories}">Back to list of categories</a>

          </li>
          <li>
              <a th:href="@{/reviews/tags}">Back to list of tags</a>
          </li>
      </ul>
  </section>
</body>

</html>