<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title th:text="|Tag searched: ${tag}|"></title>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/minireset.min.css" th:href="@{/css/minireset.min.css}" />
</head>

<body>
  <section class="section-header">
    <header class="main-header">
      <h1 th:text="|List of movies from searched tag: ${tag}|"></h1>
    </header>
  </section>
  <section class="main-nav">
    <nav>
      <ul class="nav-items">
        <li class="nav-item">
          <a th:href="@{/reviews}">Reviews</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/categories}">Categories</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/tags}">List of Tags</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="tag__reviews">
    <ul class="review-items">
      <li class="review-item" th:each="review : ${tag.reviews}">
        <a th:href="|@{/reviews/}${review.title}|">
          <span class="reviewList" th:text="|${review.title}|"></span>
          <figure>
            <img th:src="|/images/${review.imgUrl}|" alt="review image" />
            <figcaption th:each="tag : ${review.tags}" th:text="${tag}">Review Image Title</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </section>
  <script src="../static/src/js/app.js" th:src="@{/js/app.js}"></script>
</body>

</html>